.countries-content {
    display: none;
    margin-top: 20px;
    /* display: grid; */
    grid-template-columns: repeat(4, 1fr);
    max-width: 100vw;
    height: 100vh;
}

.info_country {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 30vh;
    height: 35vh;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: #2B3743;
    align-items: center;
}

.info_country>div {
    width: 100%;
}

.info_country>div>img {
    width: 100%;
}