.content-pais-pesquisado {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    margin-top: 80px;
    padding-bottom: 20px;
}

.pais-pesquisado {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.img-pais-pesquisado {
    width: 40vw;
    height: 100%;
    margin-left: 100px;
}

.img-pais {
    width: 100%;
    height: 100%;
}

.info-pais-pesquisado {
    display: flex;
    margin-left: 10vw;
}

.info-row-1 {
    margin-right: 50px;
}

.padrao>p {
    margin-top: 20px;
}

.country-searched {
    display: none;
    margin-top: 10vh;
}

.back {
    margin-left: 10vw;
}