@media(max-width: 1250px) {
    .default {
        grid-template-columns: repeat(2, 1fr);
    }
    .default>.country:nth-child(1n) {
        margin-top: 50px;
    }
    .second-row {
        margin-top: 0px;
    }
    .search>input {
        width: 40vw;
    }
    /* pais pesquisado */
    .pais-pesquisado {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .content-pais-pesquisado {
        align-items: center;
        justify-content: center;
    }
    .info-pais-pesquisado {
        display: flex;
        width: auto;
    }
    .img-pais-pesquisado {
        width: 40vw;
        height: 100%;
    }
}

@media(max-width: 650px) {
    .default {
        grid-template-columns: repeat(1, 1fr);
    }
    .search>input {
        width: 50vw;
    }
}